params {
    outdir = "results"
    cache_dir = "cache"
}

process {
    executor = "local"
    shell = ["/bin/bash", "-ueo", "pipefail"]
    withName: "GET_*" {
        cpus = 1
        memory = "2 GB"
    }
    withName: "BULK_DEG" {
        cpus = 2
        memory = "6 GB"
    }
    withName: "ANNOTATE_CHIP" {
        cpus = 2
        memory = "4 GB"
    }
    withName: "SCRNA_SIGNATURE" {
        cpus = 2
        memory = "6 GB"
    }
    withName: "BUILD_REPORT" {
        cpus = 1
        memory = "2 GB"
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_trace.txt"
}

